* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  display: flex;
}

svg {
  width: 400px;
}

#minute {
  animation: minute 3s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes minute {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}


#second {
  animation: second 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes second {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#item {
  animation: item 15s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes item {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(10%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

#man {
  animation: man 5s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes man {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(7%, -7%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}